/* Frontend Mentor part*/
.attribution { 
    font-size: 0.6875rem;
    position: relative;
    bottom: 0;
    margin-block-start: 3em;
    padding: .5em;
    text-align: center;
    color: rgb(3, 146, 248);
    width: 75%;
    align-self: center;
    justify-self: center;
}

.attribution a { color: hsl(228, 45%, 44%); }
/*-------------------------------------------------*/